/* ====================Custom global variable(var name can be any) means  when want to use call var name=========================================== */

:root{
  --color-green: #1B4D3E;
  --color-orange: #E76F51;
  --color-bg: #FAFAF8;
}

body{
  background-color: var(--color-bg);
  font-family: 'Georgia', serif;

}

/* ===============================Reusable button=========================================================================================  */

.custom-btn{
  border: none;
  padding: 10px 24px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-orange{
  background-color: var(--color-orange);
  color: white;
}

.btn-orange :hover{
  background-color: #d65a3d;
  transform: translateY(-2px);
}


.btn-green{
  background-color: var(--color-green);
  color: white;
}
